
.DS_Store

.Trashes


*.swp

*.lock


*~.nib



DerivedData/

build/

*.pbxuser

# .mode1v3: http://lists.apple.com/archives/xcode-users/2007/Oct/msg00465.html

*.mode1v3

# .mode2v3: http://lists.apple.com/archives/xcode-users/2007/Oct/msg00465.html

*.mode2v3

# .perspectivev3: http://stackoverflow.com/questions/5223297/xcode-projects-what-is-a-perspectivev3-file

*.perspectivev3

#    NB: also, whitelist the default ones, some projects need to use these
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3


xcuserdata

#xcuserdata/**/*

#
#!xcuserdata/**/xcschemes/*

*.moved-aside

Pods

# Customs

Intranet.xcworkspace/xcshareddata/
Intranet.xcworkspace/xcshareddata/*